<!DOCTYPE html>
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<script type="text/javascript" src="http://fast.fonts.com/jsapi/21e0bda7-4952-4779-b3e6-672044040438.js"></script>
<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
<style>
html { background: #eee; margin: 0; }
body { background: #fff; margin: 0; padding: 1em 5em 1em 4em; max-width: 50em; font: normal 11pt 'PT Serif', 'Times', serif; }
h1, h2, h3 { font-family:'VAG Rounded W02 Light', sans-serif; font-weight: normal; }
h1 { font-size: 12pt; color: #5E549C; /*#4A4668;*/ }
h2 { font-size: 12pt; color: #968A5D; /*#A99B66; */ }
h3 { font-size: 10pt; color: #968A5D; }
hr { margin: 3em 0 1em 0; }
dt { margin-top: 1em; }
</style>

<div class="hyper">

{{content}}

</div>

<hr>

<div id="hypercomments_widget"></div><script type="text/javascript">
var _hcp = _hcp || {};
_hcp.widget_id = 3702;
_hcp.widget = "Stream";
(function() { 
var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://widget.hypercomments.com/apps/js/hc.js";
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hcc, s.nextSibling); 
})();</script>